apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: taskruns.minitask.myorg.dev
spec:
  group: minitask.myorg.dev
  scope: Namespaced
  names:
    plural: taskruns
    singular: taskrun
    kind: TaskRun
    shortNames:
      - tr
  versions:
    - name: v1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                taskRef:
                  type: string
            status:
              type: object
              properties:
                phase:
                  type: string
                podName:
                  type: string
                startTime:
                  type: string
                  format: date-time
                finishTime:
                  type: string
                  format: date-time
